/* Media Queries
-------------------------------------------------------------- */
// min-width:
@media only screen and (min-width: 1520px) {
    .tf-sw-testimonial:hover {
        cursor: url('../images/avatar/cursor-sw.png'), auto;
    }
    // .tf-sw-testimonial:hover .tf-mouse {
    //     opacity: 1;
    //     display: flex;
    // }

    .wrap-categories {
        position: relative;

        .navigation {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.swiper-nav-next {
                left: -65px;
            }

            &.swiper-nav-prev {
                right: -65px;
            }
        }
    }
    .wrap-sw-property {
        position: relative;

        .navigation {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 123;

            &.swiper-nav-next {
                left: -30px;
            }

            &.swiper-nav-prev {
                right: -30px;
            }
        }
    }
}

@media only screen and (min-width: 991px) {
    .flat-property-detail-v4 {
        .single-property-video {
            .btn-video {
                width: 80px;
                height: 80px;

                .icon {
                    font-size: 42px;
                }
            }
        }

        .single-property-feature {
            .wrap-feature {
                padding-right: 100px;
            }
        }
    }
    .flat-slider {
        .heading {
            br {
                display: none;
            }
        }
    }
}

// max-width:
@media only screen and (max-width: 1800px) {
    .layout-wrap .wrap-table table tbody td:nth-child(3) {
        padding-left: 20px;
    }
    .layout-wrap .main-content-inner {
        padding: 80px 15px;
    }
}

@media only screen and (max-width: 1520px) {
    .main-header .main-menu {
        position: relative;
        margin-left: 1px;
    }
    .wrap-categories {
        .box-navigation {
            margin-top: 20px;
        }
    }
    .wrap-sw-property {
        .box-navigation {
            margin-top: 30px;
        }
    }
    .wrapper-layout-3 {
        flex-wrap: wrap;

        .wrap-map {
            position: relative;
            height: 600px;
            width: 100%;
            margin-top: 30px;
        }

        .wrap-inner {
            width: 70%;
        }

        .wrap-sidebar {
            width: 30%;
            padding-bottom: 0px;

            .widget-filter-search {
                .form-btn-fixed {
                    margin-top: 12px;
                    padding: 0;
                    background-color: transparent;
                    position: unset;
                    width: 100%;
                }
            }
        }
    }
    .overlay {
        .swiper-slide:not(.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next)::after {
            content: none;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .show-mb {
        display: inline-block;
    }
    .header-dashboard .logo-box .button-show-hide {
        display: none;
    }
    .wrap-property-v2 {
        .box-inner-right {
            .content-property {
                .pricing-property {
                    gap: 15px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .flat-property-detail {
        .header-property-detail {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .flat-property-detail-v2 {
        .wrapper-sidebar-right {
            padding-left: 0;
        }
    }
    .single-property-contact .box-avatar {
        flex-wrap: wrap;
    }
    .single-property-gallery .box-navigation .navigation.swiper-nav-prev {
        right: 0;
    }
    .single-property-gallery .box-navigation .navigation.swiper-nav-next {
        left: 0;
    }

    .overlay-dashboard {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(22, 30, 45, 0.3);
        transition: all 0.3s ease 0s;
        visibility: hidden;
        opacity: 0;
    }

    .layout-wrap {
        .sidebar-menu-dashboard {
            transform: translateX(-100%);
        }

        .main-content {
            padding-left: 0;
        }

        &.full-width {
            .sidebar-menu-dashboard {
                transform: translateX(0);
            }

            .overlay-dashboard {
                opacity: 1;
                visibility: visible;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .flat-testimonial {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrap-service-v2 {
        .box-left {
            padding-right: 0px;

            .list-view {
                li {
                    &:last-child,
                    &:nth-child(2) {
                        padding-left: 0px;
                    }
                }
            }
        }

        .box-right {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .header-dashboard {
        .logo-box {
            gap: 20px;
        }

        .header-account {
            .box-avatar {
                .name {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper-layout {
        flex-direction: column;

        .wrap-right {
            position: relative;
            width: 100% !important;
            height: 600px !important;
        }

        .wrap-left {
            height: auto !important;
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .wrap-property-v2 {
        .box-inner-right {
            padding: 40px;

            .content-property {
                .list-info {
                    gap: 30px;
                }
            }
        }
    }
    .wrap-service-v4 {
        .inner-service-right {
            padding-right: 0;
        }
    }
    .wrap-banner {
        .box-right {
            img {
                margin-top: 0px;
            }
        }
    }
    .header-style-3 .nav-outer {
        padding-left: 20px;
    }
    .flat-filter-search-v2 {
        .flat-tab-form {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .flat-slider {
        &.home-3 {
            .slider-content {
                .heading {
                    padding-right: 10%;
                }
            }
        }

        &.home-5 {
            .thumbs-swiper-column1 {
                right: 15px;
            }

            .thumbs-swiper-column {
                .box-img {
                    height: 700px;

                    img {
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
    }

    .main-header .main-menu .navigation > li {
        padding-right: 24px;
    }
    .header-account ul {
        margin-right: 6px;
    }
    .main-header .main-menu .navigation > li.dropdown2 > a::after {
        font-size: 12px;
        right: -12px;
    }
    .wrap-counter {
        flex-wrap: wrap;
        gap: 30px;
    }
    .wrap-property {
        flex-wrap: wrap;

        .box-left {
            flex-grow: 1;
        }
    }
    .wrap-service-v2 {
        .box-left {
            padding-right: 0px;

            .list-view {
                display: flex;
                flex-wrap: wrap;
                row-gap: 12px;

                li {
                    width: 100%;
                }
            }
        }

        .box-service {
            flex-direction: column;

            .content {
                text-align: center;
            }
        }
    }
    .flat-agents-v2 .grid-2,
    .flat-property-v2 .grid-2 {
        grid-template-columns: 1fr;
    }
    .grid-location-v2 {
        grid-template-columns: 1fr 1fr;
    }
    .homeya-box.style-3 .images-group .images-style {
        height: 100%;
    }
    .wrap-banner {
        .box-left {
            padding: 0;
            padding-left: 60px;
        }

        .box-right {
            flex-shrink: unset;
        }
    }
    .flat-sidebar {
        .list-style-2 {
            .images-style {
                width: 220px;

                img {
                    object-fit: cover;
                }
            }
        }

        .homeya-box {
            .meta-list {
                gap: 15px;
            }
        }
    }
    .layout-wrap .flat-counter-v2 {
        grid-template-columns: 1fr 1fr;
    }
    .wrap-dashboard-content {
        .box-fieldset {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 1099px) {
    .wrap-service-v4 {
        flex-direction: column;

        .inner-service-left {
            padding: 0px 200px;

            img {
                width: 100%;
            }
        }
    }
    .header-search {
        .nav-outer {
            .outer-search {
                width: auto;
                border: 0;

                .form-box {
                    display: none;
                }
            }
        }

        .header-account {
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
    .wrapper-layout-3 {
        .wrap-sidebar,
        .wrap-inner {
            width: 100%;
            height: auto;
        }

        .wrap-map {
            margin-top: 0;
        }
    }
    .wrap-dashboard-content-2 {
        .grid-4 {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header-account {
        display: none;
    }

    .header-search {
        .nav-outer {
            .outer-search {
                display: none;
            }
        }

        .btn-search-mb {
            display: flex;
        }
    }

    .main-header .main-menu {
        display: none;
    }
    .main-header {
        padding: 15px;
        // height: unset;
    }
    .mobile-button {
        display: block !important;
    }
    .header-account ul {
        margin-right: 20px;
    }
    .header-account {
        margin-right: 50px;

        .dropdown-menu {
            margin-top: 19px !important;
        }
    }
    #navbarSupportedContent {
        display: block;
    }
    .header-style-3 {
        .header-account {
            margin-right: 0;
        }
    }

    // footer
    .footer {
        .wd-social span {
            display: none;
        }
    }
    .footer-cl-1,
    .footer-cl-2 {
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-cl-3,
    .footer-cl-4 {
        margin-left: 0px;
    }
    .flat-title-page h2,
    .flat-title-page .h2 {
        font-size: 46px;
        line-height: 58px;
    }
    .flat-section {
        padding: 60px 0px 60px;
    }
    .flat-blog-list {
        padding-right: 0;
        margin-bottom: 40px;
    }
    .flat-latest-post .flat-blog-item {
        margin-bottom: 30px;
    }
    h1,
    .h1 {
        font-size: 60px;
        line-height: 78px;
    }
    h2,
    .h2 {
        font-size: 46px;
        line-height: 58px;
    }
    .flat-slider {
        &.home-1 {
            .slider-content {
                padding: 100px 0;

                .subtitle {
                    padding: 0;
                }
            }
        }

        &.home-2 {
            .img-banner-right {
                display: none;
            }

            .slider-content {
                padding: 80px 0;

                .heading {
                    .title,
                    .subtitle {
                        padding-right: 0;
                    }
                }
            }
        }

        &.home-3 {
            .slider-content {
                padding: 80px 0 0;

                .heading {
                    .title,
                    .subtitle {
                        padding-right: 0;
                    }
                }
            }
        }

        &.home-5 {
            .thumbs-swiper-column1 {
                display: none;
            }
        }
    }
    .wd-find-select {
        flex-wrap: wrap;
        gap: 16px;
        padding: 20px;

        .inner-group {
            flex-wrap: wrap;
            padding: 0;

            .form-style {
                border-right: 0;
                border-inline-end: 0;

                label {
                    margin-bottom: 8px;
                }

                .form-control,
                .nice-select {
                    padding: 10px 16px;
                    border: 1px solid $outline;
                    border-radius: 8px;
                    font-weight: 400;
                }
            }

            .box-filter {
                .filter-advanced {
                    flex-direction: row;
                    gap: 4px;
                }

                .text-1 {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        .tf-btn {
            width: 100%;
            border-radius: 4px;
        }
    }
    .wd-search-form {
        .group-box {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        // gap: 20px;
        .group-select {
            gap: 20px;
        }

        .group-checkbox {
            .group-amenities {
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
            }
        }
    }
    // section
    .flat-location {
        padding-left: 15px;
        padding-right: 15px;

        .navigation {
            width: 44px;
            height: 44px;

            .icon {
                font-size: 18px;
            }

            &.swiper-nav-next {
                left: 15px;
            }

            &.swiper-nav-prev {
                right: 15px;
            }
        }
    }
    .wrap-service,
    .wrap-benefit {
        gap: 30px;
    }
    .tf-sw-testimonial {
        margin-top: 30px;
    }
    .flat-agents {
        .box {
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }
    .flat-latest-new {
        .box:not(:last-child) {
            .flat-blog-item {
                margin-bottom: 30px;
            }
        }
    }
    .wrap-service-v2 {
        .box-left {
            .list-view {
                li {
                    width: 50%;
                }
            }
        }

        .box-right {
            margin-top: 30px;
        }
    }
    .flat-service-v3 {
        .box:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    .flat-latest-new-v2 {
        .box {
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }
    .box-test-left {
        border-radius: 16px 16px 0 0;
    }
    .box-test-right {
        border-radius: 0 0 16px 16px;
        margin-left: 0;
        padding-left: 60px;
    }
    .flat-service-v5 {
        padding-top: 460px;
        margin-top: -400px;

        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .flat-recommended-v2 {
        padding-top: 410px;
        margin-top: -400px;
    }
    .wrap-property-v2 {
        display: block;

        .box-inner-left {
            width: 100%;
        }

        .box-inner-right {
            padding: 30px;
            width: 100%;

            .content-property {
                .box-name {
                    .location {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }

        &.style-1 {
            .box-inner-right {
                padding: 20px;
            }
        }
    }
    .wrap-benefit-v2 {
        .box-right {
            margin-top: 30px;
            padding-left: 0;
        }
    }
    .wrap-service-v4 {
        .inner-service-left {
            padding: 0px 100px;
        }
    }
    .wrap-banner {
        display: block;

        .box-left {
            padding: 60px;
        }

        .box-right {
            max-width: 100%;

            img {
                width: 100%;
                border-radius: 0 0 20px 20px;
            }
        }
    }
    .nav-tab-privacy {
        margin-bottom: 40px;
    }
    .flat-pricing {
        .box {
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }
    // off canvas filter search
    .offcanvas {
        &.canvas-menu {
            width: 300px;
        }

        &.canvas-filter {
            display: none;
            height: 530px;

            .wd-find-select {
                padding: 0px;
                gap: 0;

                .inner-group {
                    padding: 20px;
                    border-radius: 12px 12px 0px 0px;
                }

                .tf-btn {
                    border-radius: 0px 0px 4px 4px;
                }
            }
        }
    }

    .wrapper-layout {
        .wrap-left {
            padding: 24px 15px !important;
        }
    }
    .flat-filter-search-v2 {
        .flat-tab-form {
            padding: 24px 15px;

            .wd-find-select {
                padding: 0;
            }

            .wd-search-form {
                top: 100%;
            }
        }
    }
    .wrapper-layout-3 {
        .wrap-sidebar {
            .widget-filter-search {
                padding: 30px 15px;
            }
        }

        .wrap-inner {
            padding: 15px;
        }
    }
    .flat-sidebar {
        .list-style-2 {
            .images-style {
                width: 330px;
            }
        }
    }
    .widget-sidebar {
        margin-bottom: 30px;
    }
    .flat-slider-detail-v1 {
        .icon-box {
            .item {
                width: 40px;
                height: 40px;

                .icon {
                    font-size: 24px;
                }
            }
        }
    }
    .single-property-video {
        padding-right: 0;
    }
    .single-property-feature .wrap-feature {
        gap: 30px;
    }
    .wrapper-sidebar-right {
        margin-bottom: 0;
        margin-top: 30px;
        padding-left: 0;
    }
    .flat-property-detail .header-property-detail {
        padding: 30px 15px;
    }
    .widget-box-single {
        padding: 15px;
    }
    .widget-box-header-single {
        .header-property-detail {
            .content-top,
            .content-bottom {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .single-property-overview,
        .single-property-desc {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .single-property-nearby .grid-3 {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .single-property-gallery .box-navigation .navigation {
        width: 40px;
        height: 40px;

        .icon {
            font-size: 18px;
        }
    }
    .flat-property-detail-v4 {
        .single-property-contact {
            .grid-3 {
                grid-template-columns: 1fr;
            }
        }
    }
    .flat-slider-contact {
        background-attachment: scroll;

        .content-wrap {
            .content-left {
                padding-right: 0;
                margin-bottom: 30px;
            }
        }
    }
    .flat-contact .contact-content {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .layout-wrap .main-content-inner .wrapper-content .wd-filter {
        grid-template-columns: 1fr 1fr;
    }
    .widget-box-3,
    .widget-box-2 {
        padding: 15px;
    }
    .widget-box-3.mess-box {
        margin-top: 30px;
    }
    .box-amenities-property {
        padding-right: 0;
    }
    .box-floor-property {
        padding: 15px;
    }
    .flat-account {
        padding: 20px;
    }

    .flat-banner-about .banner-video .btn-video {
        .icon {
            font-size: 70px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .grid-location-v2 {
        grid-template-columns: 1fr;
    }

    .box-location-v3 {
        .img-style {
            width: 120px;
            height: 120px;
        }
    }

    .flat-tab-form {
        .nav-tab-form {
            .nav-link-item {
                padding: 15px;
            }
        }
    }

    .animationtext.slide {
        .cd-words-wrapper {
            text-align: center;
        }
    }
    h3,
    .h3 {
        font-size: 40px;
        line-height: 58px;
    }

    .header-account .flat-bt-top {
        display: none;
    }
    .header-account ul {
        margin-right: 0;
    }
    .wrap-form-comment .group-ip {
        grid-template-columns: 1fr;
    }
    .list-review-item {
        flex-wrap: wrap;
    }
    .flat-blog-detail {
        .box-image {
            grid-template-columns: 1fr;
        }

        .post-navigation {
            grid-template-columns: 1fr;

            .previous-post {
                padding-right: 0;

                &::after {
                    content: none;
                }
            }

            .next-post {
                margin-top: 20px;
                text-align: left;
                padding-left: 0;
            }
        }
    }
    .comment-form {
        .text-checkbox {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .flat-quote {
        padding: 24px 24px 24px 32px;

        .quote {
            font-size: 22px;
            line-height: 28px;
        }
    }

    .wd-search-form {
        .group-checkbox {
            .group-amenities {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .wrap-service,
    .wrap-benefit {
        flex-wrap: wrap;
    }
    // location
    .grid-location {
        grid-template-areas:
            'item1 item2'
            'item3 item4'
            'item5 item5'
            'item6 item6';
        grid-gap: 20px;
    }
    .grid-location-v2 {
        grid-template-columns: 1fr;
    }
    .flat-pricing {
        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .homeya-box {
        &.list-style-2 {
            display: block;

            .images-style {
                width: 100%;
            }
        }
    }
    .header-dashboard .header-account .box-avatar {
        margin-right: 0;
    }
    .widget-box-2 {
        .grid-2,
        .grid-3 {
            grid-template-columns: 1fr;
        }
    }
    .wrap-dashboard-content {
        .col-md-3 {
            .box-fieldset {
                margin-bottom: 30px;
            }
        }
    }
    .wrap-dashboard-content-2 {
        .grid-4 {
            grid-template-columns: 1fr;
        }
    }
    .header-account {
        .dropdown-menu {
            margin-top: 21px !important;
        }
    }
}

@media only screen and (max-width: 700px) {
    .single-property-info .inner-box .label {
        width: 40%;
    }
    .flat-gallery-single {
        grid-template-areas:
            'item1 item1'
            'item1 item1'
            'item2 item3'
            'item4 item5';
    }
}

@media only screen and (max-width: 655px) {
    .box-agent {
        &.style-2 {
            display: block;
        }
    }
    .wrap-service-v4 {
        .inner-service-left {
            padding: 0px 30px;

            .title {
                font-size: 14px;
                line-height: 24px;
            }

            h6,
            h4 {
                font-size: 20px;
                line-height: 28px;
            }

            .box-avatar {
                left: -44px;
            }

            .box-trader {
                right: -34px;

                .content {
                    padding: 5px 15px;
                }
            }
        }
    }
    .layout-wrap .flat-counter-v2 {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 575px) {
    .wd-search-form {
        .group-checkbox {
            .group-amenities {
                // grid-template-columns: 1fr;
            }
        }

        .group-select {
            grid-template-columns: 1fr;
        }
    }

    .box-title-price {
        display: block !important;

        .title-price {
            margin-bottom: 4px;
            display: inline-block;
        }
    }

    .flat-slider {
        &.home-5 {
            .info-box {
                right: 15px;
                left: 15px;
            }
        }
    }
    .homeya-box {
        &.list-style-1 {
            display: block;
        }

        &.lg {
            .archive-top {
                h5 {
                    font-size: 24px;
                    line-height: 30px;
                }

                .content {
                    padding-left: 20px;
                    padding-right: 20px;

                    .note {
                        font-size: 16px;
                        line-height: 26px;
                    }

                    .desc p {
                        font-size: 16px;
                        line-height: 26px;
                    }

                    .meta-list {
                        column-gap: 20px;
                    }
                }
            }
        }
    }
    .flat-agents {
        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .wrap-service-v2 {
        .box-left {
            .list-view {
                li {
                    width: 100%;
                }
            }
        }
    }
    .grid-location-v2 {
        .box-location-v3 {
            gap: 15px;
        }
    }
    .flat-latest-new-v2 {
        .box {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .box-test-right {
        padding: 20px !important;

        .box-tes-item-v2 {
            h5 {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
    .wrap-benefit-v2 {
        .box-right {
            grid-template-columns: 1fr;
        }
    }
    .wrap-service-v4 {
        .inner-service-left {
            .box-avatar {
                top: 20%;
                padding: 8px 16px 8px 8px;
                gap: 8px;
            }

            .box-trader {
                bottom: 10%;
            }
        }

        .box-service {
            gap: 15px;
        }
    }
    .wrap-banner {
        .box-left {
            padding: 30px;
        }
    }
    .header-style-3 {
        .register {
            display: none;
        }
    }
    .canvas-filter {
        .header-style-3 {
            .logo-box {
                display: none;
            }
        }
    }
    .flat-categories-v3 {
        padding: 0px 35px;

        .swiper-nav-prev {
            right: 15px;
        }

        .swiper-nav-next {
            left: 15px;
        }
    }
    .box-title-listing {
        .box-filter-tab {
            .nav-tab-filter {
                width: 100%;
            }
        }
    }
    .widget-sidebar {
        .widget-box {
            padding: 15px;

            .latest-property-item {
                gap: 10px;

                .images-style {
                    flex-shrink: 0;
                }

                .h7 {
                    font-size: 18px;
                }

                .meta-list {
                    gap: 8px;
                }
            }
        }
    }
    .header-property-detail {
        .content-bottom {
            .info-box {
                .meta {
                    gap: 15px;
                }
            }
        }
    }
    .single-property-nearby .box-nearby {
        gap: 8px;
        grid-template-columns: 1fr;

        .label {
            width: auto;
            margin-right: 20px;
        }
    }
    .single-property-loan .box-loan-calc {
        .box-top {
            grid-template-columns: 1fr;
        }

        .box-bottom {
            flex-wrap: wrap;
            gap: 15px;
        }
    }
    .col-sm-4 .attachments-item:first-child,
    .col-sm-6 .attachments-item:first-child {
        margin-bottom: 15px;
    }
    .single-property-map .info-map {
        justify-content: space-between;
        gap: 20px;
    }
    .box-contact-v2 {
        padding: 20px;
    }
    .flat-contact .contact-content .grid-2 {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .layout-wrap .main-content-inner .wrapper-content .wd-filter {
        grid-template-columns: 1fr;
    }
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3 {
        font-size: 40px;
        line-height: 58px;
    }
    h4,
    .h4 {
        font-size: 32px;
        line-height: 40px;
    }

    .layout-wrap .box-agent-avt {
        flex-wrap: wrap;
    }
    .homeya-box.list-style-1 .images-style {
        height: 220px;
    }
}

@media only screen and (max-width: 500px) {
    .box-amenities-property,
    .single-property-feature .wrap-feature {
        display: grid;
    }
    .flat-slider.home-1 h1 {
    }
}

@media only screen and (max-width: 400px) {
    .header-style-3 {
        .header-account {
            display: flex;
        }
    }
}

@media only screen and (max-width: 360px) {
}
