.flat-slider {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 123;
    &.home-1 {
        background-attachment: fixed;
        .overlay {
            background: $on-surface;
            opacity: 0.6;
        }
        .slider-content {
            position: relative;
            z-index: 1;
            padding: 233px 0;
            .heading {
                margin-bottom: 40px;
            }
            .subtitle {
                margin-top: 20px;
                padding: 0 280px;
            }
        }
    }
    .overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &.home-2 {
        background-color: $surface;
        .img-banner-left {
            position: absolute;
            bottom: 0;
            inset-inline-start: 0;
            -webkit-animation: ani4 7s infinite ease-in-out alternate;
            animation: ani4 7s infinite ease-in-out alternate;
        }
        .img-banner-right {
            position: absolute;
            inset-inline-start: 50%;
            bottom: 0;
            top: 0;
            inset-inline-end: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-image: url(../images/slider/slider-2.jpg);
        }
        .slider-content {
            padding: 114px 0px;
            position: relative;
            z-index: 10;
            .heading {
                .title {
                    padding-inline-end: 54%;
                }
                .subtitle {
                    padding-inline-end: 48%;

                    margin-top: 12px;
                    margin-bottom: 40px;
                    color: $variant-1;
                }
            }
        }
        .wrap-search-link {
            margin-top: 24px;
            display: flex;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;
            p,
            a {
                color: $variant-1;
            }
            a {
                position: relative;
                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    bottom: 0px;
                    position: absolute;
                    left: auto;
                    right: 0;
                    z-index: 1;
                    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                    -o-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                    background: $on-surface;
                }
                &:hover,
                &.current {
                    color: $on-surface;
                    &::after {
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
    .slider-sw-home2,
    .slider-home2 {
        height: 100%;
    }
    .slider-home2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.home-3 {
        background-attachment: fixed;
        .slider-content {
            padding-top: 184px;
            padding-bottom: 184px;
            .heading {
                margin-bottom: 30px;
                .title {
                    padding-inline-end: 52%;
                }
                .subtitle {
                    padding-inline-end: 44%;

                    margin-top: 8px;
                    color: $variant-1;
                }
            }
        }
        .flat-tab-form {
            padding: 75px 0px;
            position: unset;
            z-index: 5;
        }
    }

    &.home-5 {
        margin-bottom: -6.5rem;
        z-index: unset;
        .box-img {
            img {
                width: 100%;
                object-fit: cover;
                max-height: 53rem;
            }
        }
        .thumbs-swiper-column1 {
            position: absolute;
            inset-inline-end: 315px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 60px;
            height: 300px;
            overflow: hidden;
            .swiper-wrapper {
                width: 60px;
                flex-direction: column;
                .swiper-slide {
                    width: 60px !important;
                    display: grid;
                    height: 60px !important;
                    margin-bottom: 16px;
                }

                .image-detail {
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid $outline;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    opacity: 0.4;
                }
                .swiper-slide-thumb-active {
                    .image-detail {
                        opacity: 1;
                    }
                }
            }
        }
        .info-box {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 4;
        }
    }
}
.flat-tab-form {
    position: relative;
}
@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}
@mixin nth-ani-delay($num_items: 40, $delay_time: 50s) {
    @for $i from 1 through $num_items {
        &:nth-child(#{$i}) {
            animation-delay: $delay_time * $i;
        }
    }
}
.js-letters {
    overflow-y: hidden;
    // Title children/letters
    & > * {
        display: inline-block;
        min-width: 0.21em;
        backface-visibility: hidden;
        animation: slide-up 0.6s both;
        @include nth-ani-delay(40, 0.05s);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ani4 {
    0%,
    100% {
        transform: translateX(0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    50% {
        transform: translateX(-20px);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
